kubernetes.iml
.idea
/project-calico/.vagrant/
clusters/vc/config
**/token.txt
**/.terraform/*
*.tfstate
*.tfstate.*
**/secrets.tfvars
venv
*.terraform
*/rootkey.csv
**/rootkey.csv
**/settings.yaml
*/service-accounts
**/*.lock.hcl
**config
**.crt
**.key
**calicoctl
**1

**/dockerimages
/vm-provision/shared_folder/calico-tigera/installation/manifest-calico-entrprise/
**/.vagrant
