apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: dashboard-ingress
  namespace: kubernetes-dashboard
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/configuration-snippet:  rewrite ^({{dashboard_path}})$ $1/ redirect;
spec:
  rules:
  - host: {{cluster_name}}.{{domain}}{{dashboard_path}}
    http:
      paths:
      - path: {{dashboard_path}}(/|$)(.*)    #/db is matched with rewrite ^(/db)
        pathType: Prefix
        backend:
          service:
            name: kubernetes-dashboard
            port:
              number: 443